<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<p>Get history</p>
<form method="post">
    <label for="comment_id">comment id</label>
    <input id="comment_id" name="comment_id" type="text" value="" autofocus/>
    <label for="start_date">start_date</label>
    <input type="datetime-local" id="start_date" name="start_date"  value=""/>
    <label for="end_date">end_date</label>
    <input type="datetime-local" id="end_date" name="end_date"  value=""/>
    <select name="download_format">
        <option value="json">json</option>
        <option value="xml">xml</option>
    </select>
    <input type="submit" value="find"/>
</form>
</body>
</html>