<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<p>API: </p>
<p>1. /{username}/create_comment - create a new comment for the given entity id;
<p>2. /{username}/change_comment - change comment for the given comment id;
<p>3. /{username}/lvl1?entity_id=3 - get all level 1 comments for entity with id=3;
<p>4. /{username}/get_children?entity_id=4&with_root=false - see below
<p>5. /{username}/get_children?entity_id=4&with_root=true - get all children for the
given entity recursively. Root is added if with_root=true
<p>6. /{username}/get_comments - get all the comments for the given user;
<p>7. /{username}/get_history - get history of comments for the given user</p>
<p>8. /{user}/search_history - show search history with re-download option</p>
</body>
</html>